.ReactModal__Body--open {
  overflow: hidden;
}

.SgStyleguide {
  position: relative;

  &__header {
    padding: 1em;

    @media (width >= 540px) {
      padding-right: 14em;
    }

    @media (width >= 960px) {
      padding-left: 2em;
    }
  }

  &__section-header {
    background-color: var(--color-background);
    padding: 1em 1em 2em;

    @media (width >= 960px) {
      padding: 2em;
    }

    & a {
      color: var(--color-link);
    }

    & .sg-heading {
      margin-bottom: 0.5em;
    }
  }

  &__readme {
    padding: 1em;
    background-color: gray(245);

    @media (width >= 960px) {
      padding: 2em;
    }

    & table {
      border-collapse: collapse;

      & * {
        margin: 0;
      }

      & + * {
        margin-top: 2em;
      }
    }

    & tr:nth-child(even) {
      background-color: gray(230);
    }

    & th,
    & td {
      border: 1px solid gray(200);
      padding: 0.75em 0.5em;
    }

    & th {
      font-weight: bold;
    }

    & code {
      background-color: var(--color-white);
      border-radius: 0.125em 0.25em;
      color: firebrick;
      display: inline-block;
      padding: 0.25em;
    }
  }
}
