:root {
  --border-collapse: separate;
  --cell--padding: 0.75em;
  --cell--text-align: left;
  --cell--border: 1px solid var(--color-shade--10);
  --cell--bg-color: var(--color-shade--05);
  --cell--display: table-cell;
  --label-color: var(--color-shade--90);
  --td--bg-color: transparent;
  --td-value--display: none;
  --td-value--font-size: 1rem;
  --thead--visibility: table-header-group;
  --txt--transform-toggle: none;
}

.Table {
  & &__root {
    border-spacing: 0;
    margin: 1em 0;
    width: 100%;
  }

  & caption {
    text-align: left;
    padding: var(--cell--padding);
  }

  &__head {
    background-color: var(--cell--bg-color);
    display: var(--thead--visibility);
    font-weight: bold;
    text-transform: uppercase;
  }

  &__header,
  &__data {
    border-bottom: var(--cell--border);
    padding: var(--cell--padding);
    text-align: var(--cell--text-align);
  }

  & small {
    font-size: 90%;
  }

  /* variants */
  &--default,
  &--auto {
    overflow-x: auto;
    overflow-y: hidden;
    text-align: left;
  }

  &--default {
    & .Table__root {
      width: 100%;
      min-width: 40em;
    }

    & .Table__header,
    & .Table__data {
      min-width: 12em;
    }
  }

  &--auto {
    display: inline-block;
  }

  &--responsive {
    & .Table__root {
      border-collapse: var(--border-collapse);
      width: 100%;
    }

    .Table__data {
      display: var(--cell--display);

      &:empty {
        display: none;
      }
    }

    .Table__body,
    .Table__foot {
      & .Table__data {
        &:first-of-type { background-color: var(--cell--bg-color); }

        &:not(:first-of-type)::before {
          content: attr(data-heading);
          color: var(--label-color);
          display: var(--td-value--display);
          font-weight: var(--font-weight--normal);
          margin-bottom: 0.5em;
        }
      }

      /* data values to be displayed inline on small screens, vs. stacked */
      .table--inline & {
        & .Table__data:not(:first-of-type) {
          text-align: left;

          &::before {
            left: 2%;
            position: absolute;
          }
        }
      }
    }

    .Table__body {
      & .Table__data {
        &:first-of-type {
          background-color: var(--td--bg-color);
        }
      }
    }

    .Table__foot {
      background-color: var(--cell--bg-color);
      font-weight: var(--font-weight--bold);
    }

    @media only screen and (width <= 45em) {
      & .Table__root {
        border-collapse: collapse;
        position: relative;
      }

      & .Table__head {
        display: none;
        visibility: hidden;
      }

      .Table__row {
        &::after {
          content: '';
          display: block;
          clear: both;
        }
      }

      .Table__header,
      .Table__data {
        display: block;
        text-align: center;
      }

      .Table__body,
      .Table__foot {
        .Table__data {
          &:first-of-type {
            background-color: var(--cell--bg-color);
            font-weight: var(--font-weight--bold);
            text-transform: uppercase;
          }

          &:not(:first-of-type)::before {
            content: attr(data-heading);
            color: var(--label-color);
            display: block;
            font-weight: var(--font-weight--bold);
            margin-bottom: 0.5em;
          }
        }
      }
    }
  }

  &.Table--inline-data {
    @extend .Table--responsive;

    @media only screen and (width <= 45em) {
      /* data values to be displayed inline on small screens, vs. stacked */
      .Table__data:not(:first-of-type) {
        padding-left: 50%;
        text-align: left;

        &::before {
          left: 2%;
          position: absolute;
        }
      }
    }
  }
}

table.RichText * + * { margin-top: 0; }
