:root {
  --padding-default: 1.25em;
  --padding-half: calc(var(--padding-default) * 0.5);
  --table-cell--border: 1px solid var(--color-shade--03);
  --table-cell--bg-color: var(--color-shade--03);
}

.Table {
  & caption {
    text-align: left;
    padding: var(--padding-half) var(--padding-default);
  }

  & thead {
    & th,
    & td {
      padding-top: calc(var(--padding-half) * 0.75);
    }
  }

  & th,
  & td {
    padding: calc(var(--padding-half) * 0.5) var(--padding-default);
  }

  & th {
    font-weight: var(--font-weight--bold);
  }

  & tfoot {
    & td {
      font-weight: var(--font-weight--bold);
    }
  }

  & small {
    font-size: 90%;
  }

  /* variants */
  &--default,
  &--auto {
    overflow-x: auto;
    overflow-y: hidden;
    text-align: left;
  }

  &--default {
    & .Table__root {
      width: 100%;
      min-width: 40em;
    }

    & th,
    & td {
      min-width: 12em;
    }
  }

  &--auto {
    display: inline-block;
  }

  &--responsive {
    & table {
      border-collapse: separate;
      width: 100%;

      & th,
      & td {
        border-bottom: var(--table-cell--border);
        padding: calc(var(--padding-default) * 0.75);
      }

      & thead {
        background-color: transparent;

        & th {
          text-align: left;
          text-transform: uppercase;
        }
      }

      & tfoot {
        td {
          background-color: var(--table-cell--bg-color);
          font-weight: var(--font-weight--bold);
        }
      }

      @media only screen and (width <= 45em) {
        border-collapse: collapse;

        & thead {
          display: none;
          visibility: hidden;
        }

        & tr {
          &::after {
            content: '';
            display: block;
            clear: both;
          }
        }

        & td {
          font-weight: var(--font-weight--normal);
          display: block;
          padding: 0.5rem 1rem;
          position: relative;
          text-align: center;
          width: 100%;

          &:empty {
            display: none;
          }

          &:first-of-type {
            font-size: 1rem;
            padding: var(--padding-default);
            text-transform: uppercase;
            width: 100%;

            &::after {
              display: none;

              @nest .table--clear & {
                display: block;
              }
            }
          }

          &:nth-of-type(n+2) {
            border-top: none;
            padding-top: 2rem;
          }

          &:last-child {
            border-bottom: none;
          }

          &::after {
            content: attr(data-heading);
            display: block;
            font-size: 0.85rem;
            font-weight: var(--font-weight--bold);
            position: absolute;
            top: 0;
            left: 0;
            line-height: 1.2;
            text-transform: uppercase;
            width: 100%;

            tfoot & {
              color: white;
            }
          }
        }

        & tbody {
          & tr {
            &:last-of-type td {
              border-bottom: 1px solid var(--color-shade--10);
            }
          }

          & td {
            background-color: transparent;
            border-top: 0;
          }
        }

        & tfoot {
          & td {
            background-color: var(--color-shade--10);
            border-top: 1px solid var(--color-shade--10);
            margin-top: 0;

            &::after {
              top: 0.5rem;
            }

            &:first-of-type {
              background-color: var(--color-shade--10);

              &::after {
                display: none;
              }
            }

            &:last-of-type {
              &::after {
                top: 0.5rem;
              }
            }
          }
        }
      }
    }
  }

  &--inline-data {
    @extend .Table--responsive;
  }
}
