.sg-nav {
  & a {
    color: var(--color-black);
  }
}

.sg-nav__button {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 180px;
  z-index: 50;
  background-color: var(--color-gray-darker);
  box-shadow: color(var(--color-black) alpha(10%)) 0 0 0.5em;
  color: var(--color-white);
  border: none;
  cursor: pointer;
  font-size: 0.75em;
  line-height: 5em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  transition-property: background-color, box-shadow;

  &:hover {
    background-color: var(--color-black);
    box-shadow: color(var(--color-black) alpha(25%)) 0 0.3em 1em;
  }

  & > span {
    display: none;
    color: white;

    &:first-child {
      display: inline;
    }
  }
}

.sg-nav__modal-overlay {
  content: '\0020';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
  background-color: color(var(--color-black) alpha(80%));
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;

  &.ReactModal__Overlay--after-open {
    transition: opacity ease 0.3s;
    opacity: 1;
  }

  &.ReactModal__Overlay--before-close {
    transition: opacity ease 0.3s;
    opacity: 0;
  }
}

.sg-nav__content {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  height: 100vh;
  width: 100%;
  max-width: 320px;
  overflow: auto;
  padding: 1em;
  padding-top: 6em;
  font-size: 1em;
  line-height: 1.7em;
  background-color: var(--color-background);
  transform: translate3d(-100%, 0, 0);

  &.ReactModal__Content--after-open {
    transition: transform 0.3s ease-in;
    transform: translate3d(0%, 0, 0);
  }

  &.ReactModal__Content--before-close {
    transition: transform 0.3s ease-out;
    transform: translate3d(-100%, 0, 0);
  }

  & * + .heading {
    margin-top: 1em;
  }

  & .heading {
    margin-bottom: 0.25em;
  }

  @media (width >= 960px) {
    padding: 2em;
    padding-top: 7em;
  }
}
