@import "~reset-css/reset.css";

* {
	box-sizing: border-box;
}

html {
    font-family: var(--type-font-family);
    font-size: var(--type-font-percentage);
    line-height: var(--type-line-height);
}

pre,
code {
	font-family: monospace;
	line-height: 1.4em;
}

button {
	background-color: transparent;
	font-size: 1em;
}
