.Media {
  display: flex;
}

/* media variants */
.Media--top { align-items: flex-start; }
.Media--middle { align-items: center; }
.Media--bottom { align-items: flex-end; }

.Media__body {
  flex: 1;

  & ~ .Media__figure {
    margin-right: inherit;
    margin-left: 1em;
  }
}

.Media__figure {
  margin-right: 1em;
}

/* figure variants */
.Media__figure--top { align-self: flex-start; }
.Media__figure--middle { align-self: center; }
.Media__figure--bottom { align-self: flex-end; }

