.heading {
	font-size: 2em;
	line-height: 1em;
	font-weight: 700;
	font-family: sans-serif;
}

.heading--thin {
	font-weight: 300;
}

.heading--medium {
	font-weight: 500;
}

.heading--h1 { font-size: 2em; }
.heading--h2 { font-size: 1.6em; }
.heading--h3 { font-size: 1.4em; }
.heading--h4 { font-size: 1.3em; }
.heading--h5 { font-size: 1.2em; }
.heading--h6 { font-size: 1.1em; }