.link {
  text-decoration: underline;

  /* variants */
  &--default {
    color: var(--color-blue);

    &:--enter {
      color: color(var(--color-blue) tint(10));
    }
  }

  &--cta {
    color: var(--color-red);

    &:--enter {
      color: color(var(--color-red) tint(10));
    }
  }
}
