:root {
  --Accordion__border-style: solid;
  --Accordion__border-size: 1px;
  --Accordion__border-color: color(var(--color-gray));
  --Accordion__border: var(--Accordion__border-size) var(--Accordion__border-color) var(--Accordion__border-style);
  --Accordion__heading-padding: 1rem;
  --Accordion__content-padding: 1rem;
  --Accordion__section-spacing: 0.35rem;
}

.Accordion {
  & ::-webkit-details-marker { display: none; } /* Remove UI marker from details tag */

  &__section {
    margin-bottom: var(--Accordion__section-spacing);
    &:last-child { margin-bottom: 0; }
  }

  &__title {
    display: block;
    border: var(--Accordion__border);
    cursor: pointer;
    outline: none;

    & .Heading {
      display: block;
      padding: var(--Accordion__heading-padding);
    }
  }

  &__content {
    border: var(--Accordion__border);
    border-top: none;
    padding: var(--Accordion__content-padding);
  }

  /* IE11/Edge support */
  &__content { display: none; }

  & [open] {
    & + .Accordion__content { display: block; }
  }
}
