.List {
  /* variants */
  &--blank {
    list-style: none;
  }

  &--unordered {
    list-style-type: disc;
    padding-left: 1em;

    /* nested unordered list */
    .List & {
      list-style-type: circle;
    }
  }

  &--ordered {
    list-style-type: decimal;
    padding-left: 1em;
  }

  &--description {
    & .List__item {
      &--title {
        font-weight: bold;
      }

      &--description {
        padding-bottom: 1em;
      }
    }
  }
}
