.SgNav,
.SgNav__portal {
  & a {
    color: var(--color-black);

    &:hover,
    &:visited {
      color: var(--color-black);
    }
  }
}

.SgNav__button {
  display: block;
  width: 100%;
  padding: 1em 2em;
  color: var(--color-white);
  background-color: var(--color-black);
  box-shadow: color(var(--color-black) alpha(10%)) 0 0 0.5em;
  border: none;
  cursor: pointer;
  line-height: 1.2em;
  font-size: 0.75em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  transition-property: background-color, box-shadow;
  z-index: 50;

  &:hover {
    color: var(--color-white);
    background-color: var(--color-black);
    box-shadow: color(var(--color-black) alpha(25%)) 0 0.3em 1em;
  }

  @media (width >= 540px) {
    position: absolute;
    top: 1em;
    right: 1em;
    width: auto;
  }

  @media (width >= 960px) {
    right: 2.5em;
  }
}

.SgNav__button-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 1em;
  width: 1em;
  height: 0.75em;
  border: solid white;
  border-width: 1px 0;

  &::before {
    content: "\0020";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -1px;
    border-bottom: 1px solid white;
  }
}

.SgNav__close {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 2em;
  height: 2em;
  border: none;
  text-indent: -9999em;
  cursor: pointer;

  &::before,
  &::after {
    content: '\0020';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 2px;
    margin-left: -1em;
    background-color: var(--color-black);
  }

  &::before { transform: rotate(-45deg); }
  &::after { transform: rotate(45deg); }
}

.SgNav__modal-overlay {
  content: '\0020';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: color(var(--color-black) alpha(90%));
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 0;

  &.ReactModal__Overlay--after-open {
    transition: opacity 0.3s ease 0s;
    opacity: 1;
  }

  &.ReactModal__Overlay--before-close {
    transition: opacity 0.3s ease 0.3s;
    opacity: 0;
  }
}

.SgNav__modal {
  position: fixed;
  top: 5vw;
  left: 5vw;
  right: 5vw;
  bottom: 5vw;
  padding: 2em;
  z-index: 100;
  font-size: 1em;
  line-height: 1.7em;
  overflow-x: auto;
  overflow-y: scroll;
  background-color: var(--color-white);
  box-shadow: var(--color-black) 0 0.5em 2em;
  transform: translate3d(0, -5%, 0);
  opacity: 0;

  &.ReactModal__Content--after-open {
    transition: none 0.3s ease 0.2s;
    transition-property: transform, opacity;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  &.ReactModal__Content--before-close {
    transition: none 0.3s ease 0s;
    transition-property: transform, opacity;
    transform: translate3d(0, -5%, 0);
    opacity: 0;
  }

  @media (width >= 720px) {
    top: 15vh;
    left: 10vw;
    right: 10vw;
    bottom: 15vh;
  }

  @media (width >= 1080px) {
    left: 50%;
    right: auto;
    width: 960px;
    margin-left: calc(960px / -2);
  }

  @media (height >= 720px) {
    top: 50%;
    bottom: auto;
    height: 640px;
    margin-top: calc(640px / -2);
  }
}

.SgNav__modal-content {
  & * + .SgHeading {
    margin-top: 1em;
  }

  & .SgHeading {
    margin-bottom: 0.25em;
  }

  & > * + * { margin-top: 2em; }

  @media (width >= 720px) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    & > * { flex-grow: 1; }
    & > * + * { margin-top: 0; }
  }
}
