.form-number__control--number {
	@apply --input-default;
}

.form-number--range {
	& > * {
		color: gray(20%);
		display: inline-block;
		vertical-align: middle;
	}

	& > * + * {
		margin-left: .5em;
	}
}