<!DOCTYPE html>
<html>
<head>
	<title>{{menu.title}}</title>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<link rel="stylesheet" href="/assets/style.css" />
</head>
<body>

{{#>list class="list--unordered"}}
	{{#each @root.menu.items as |item|}}
		{{#>list-item}}
			{{@index}}. {{item.title}}
		{{/list-item}}
	{{else}}
		<div>No Results</div>
	{{/each}}
{{/list}}

<script src="/assets/bundle.js"></script>
</body>
</html>
