<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="/assets/styles.css">
</head>
<body>

{{#>list}}
	{{#>list-item}}Yo Dogg{{/list-item}}
	{{#>list-item}}No Dogg{{/list-item}}
{{/list}}

</body>
</html>
