@import "reset-css/reset.css";

* {
	box-sizing: border-box;
}

html,
body {
	font-family: "Helvetica Neue", sans-serif;
	line-height: 1.3em;
	font-size: 0.9em;
	
	@media (width >= 720px) {
		font-size: 0.95em;
	}
	@media (width >= 960px) {
		font-size: 1em;
	}
}

pre,
code {
	font-family: "PT Mono", mono;
	font-size: 0.9em;
	line-height: 1.4em;
}

pre {
	/* overflow: scroll; */
}

button {
	background-color: transparent;
	font-size: 1em;
}

