:root {
  --grid--gap: 1.25rem;
}

.Grid {
  @media (--small) {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 calc(var(--grid--gap) / -2);
    padding: 0;

    @supports (display: grid) {
      display: grid;
      grid-auto-flow: row;
      grid-gap: var(--grid--gap);
      grid-template-columns: repeat(2, 1fr);
      margin: 0;
    }
  }

  @media (--medium-small) {
    @supports (display: grid) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  @media (--medium) {
    margin: 0 auto;

    @nest .wrapper & {
      margin: 0 calc(var(--grid--gap) / -2);
    }

    @supports (display: grid) {
      grid-template-columns: repeat(12, 1fr);

      @nest .wrapper & {
        margin: 0;
      }
    }
  }

  &--auto-fit {
    @media (--small) {
      @supports (display: grid) {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        grid-template-rows: repeat(auto, 1fr);

        & .Grid__item {
          grid-column: auto;
        }
      }
    }
  }

  &--auto-fill {
    @media (--small) {
      @supports (display: grid) {
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
        grid-template-rows: repeat(auto, 1fr);

        & .Grid__item {
          grid-column: auto;
        }
      }
    }
  }

  &__item {
    margin: calc(var(--grid--gap) / 2) 0;

    @media (--small) {
      display: inline-block;
      flex-basis: calc(50% - var(--grid--gap));
      margin: calc(var(--grid--gap) / 2);
      width: calc(50% - var(--grid--gap));

      @supports (display: grid) {
        float: none;
        margin: 0;
        grid-column: auto / span 2;
        width: auto;
      }
    }

    @media (--medium-small) {
      @supports (display: grid) {
        grid-column: auto / span 3;
      }
    }

    &--span-one {
      @media (--medium) {
        flex-basis: calc(calc(calc(1 / 12) * 100%) - var(--grid--gap));
        width: calc(calc(calc(1 / 12) * 100%) - var(--grid--gap));

        @supports (display: grid) { grid-column: auto / span 1; }
      }
    }

    &--span-two {
      @media (--medium) {
        flex-basis: calc(calc(calc(2 / 12) * 100%) - var(--grid--gap));
        width: calc(calc(calc(2 / 12) * 100%) - var(--grid--gap));

        @supports (display: grid) { grid-column: auto / span 2; }
      }
    }

    &--span-three {
      @media (--medium) {
        flex-basis: calc(calc(calc(3 / 12) * 100%) - var(--grid--gap));
        width: calc(calc(calc(3 / 12) * 100%) - var(--grid--gap));

        @supports (display: grid) { grid-column: auto / span 3; }
      }
    }

    &--span-four {
      @media (--medium) {
        flex-basis: calc(calc(calc(4 / 12) * 100%) - var(--grid--gap));
        width: calc(calc(calc(4 / 12) * 100%) - var(--grid--gap));

        @supports (display: grid) { grid-column: auto / span 4; }
      }
    }

    &--span-five {
      @media (--medium) {
        flex-basis: calc(calc(calc(5 / 12) * 100%) - var(--grid--gap));
        width: calc(calc(calc(5 / 12) * 100%) - var(--grid--gap));

        @supports (display: grid) { grid-column: auto / span 5; }
      }
    }

    &--span-six {
      @media (--medium) {
        flex-basis: calc(calc(calc(6 / 12) * 100%) - var(--grid--gap));
        width: calc(calc(calc(6 / 12) * 100%) - var(--grid--gap));

        @supports (display: grid) { grid-column: auto / span 6; }
      }
    }

    &--span-seven {
      @media (--medium) {
        flex-basis: calc(calc(calc(7 / 12) * 100%) - var(--grid--gap));
        width: calc(calc(calc(7 / 12) * 100%) - var(--grid--gap));

        @supports (display: grid) { grid-column: auto / span 7; }
      }
    }

    &--span-eight {
      @media (--medium) {
        flex-basis: calc(calc(calc(8 / 12) * 100%) - var(--grid--gap));
        width: calc(calc(calc(8 / 12) * 100%) - var(--grid--gap));

        @supports (display: grid) { grid-column: auto / span 8; }
      }
    }

    &--span-nine {
      @media (--medium) {
        flex-basis: calc(calc(calc(9 / 12) * 100%) - var(--grid--gap));
        width: calc(calc(calc(9 / 12) * 100%) - var(--grid--gap));

        @supports (display: grid) { grid-column: auto / span 9; }
      }
    }

    &--span-ten {
      @media (--medium) {
        flex-basis: calc(calc(calc(10 / 12) * 100%) - var(--grid--gap));
        width: calc(calc(calc(10 / 12) * 100%) - var(--grid--gap));

        @supports (display: grid) { grid-column: auto / span 10; }
      }
    }

    &--span-eleven {
      @media (--medium) {
        flex-basis: calc(calc(calc(11 / 12) * 100%) - var(--grid--gap));
        width: calc(calc(calc(11 / 12) * 100%) - var(--grid--gap));

        @supports (display: grid) { grid-column: auto / span 11; }
      }
    }

    &--span-twelve {
      flex-basis: 100%;
      width: 100%;

      @media (--small) {
        flex-basis: 100%;
        width: 100%;
      }

      @media (--medium-small) {
        @supports (display: grid) { grid-column: auto / span 6; }
      }

      @media (--medium) {
        @supports (display: grid) { grid-column: 1 / -1; }
      }
    }

    &--span-one,
    &--span-two,
    &--span-three,
    &--span-four,
    &--span-five,
    &--span-six,
    &--span-seven,
    &--span-eight,
    &--span-nine,
    &--span-ten,
    &--span-eleven,
    &--span-twelve {
      @media (--medium) {
        @supports (display: grid) { width: auto; }
      }
    }
  }

  /* quick columns 2,3,4-up */
  &--2-up,
  &--3-up,
  &--4-up {
    & .Grid__item {
      margin: 0.75em 0;

      @media (--small) {
        margin: calc(var(--grid--gap) / 2);

        @supports (display: grid) {
          margin: 0;
        }
      }
    }
  }

  @media (--medium-small) {
    &--2-up {
      @supports (display: grid) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  @media (--medium) {
    &--2-up {
      @supports (display: grid) {
        grid-template-columns: repeat(2, 1fr);
      }

      & .Grid__item {
        flex-basis: calc(calc(calc(6 / 12) * 100%) - var(--grid--gap));
        width: calc(calc(calc(6 / 12) * 100%) - var(--grid--gap));
      }
    }

    &--3-up {
      @supports (display: grid) {
        grid-template-columns: repeat(3, 1fr);
      }

      & .Grid__item {
        flex-basis: calc(calc(calc(4 / 12) * 100%) - var(--grid--gap));
        width: calc(calc(calc(4 / 12) * 100%) - var(--grid--gap));
      }
    }

    &--4-up {
      @supports (display: grid) {
        grid-template-columns: repeat(4, 1fr);
      }

      & .Grid__item {
        flex-basis: calc(calc(calc(3 / 12) * 100%) - var(--grid--gap));
        width: calc(calc(calc(3 / 12) * 100%) - var(--grid--gap));
      }
    }

    &--2-up,
    &--3-up,
    &--4-up {
      & .Grid__item {
        @supports (display: grid) {
          grid-column: inherit;
          width: auto;
        }
      }
    }
  }

  /* styleguide override */
  &.Sg--pattern {
    & .Grid__item {
      background-color: var(--color-black);
      color: var(--color-white);
      padding: 1.25rem 0;
      text-align: center;
    }
  }
}
