.Grid {
  @media (--small) {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -0.625rem;
    padding: 0;

    @supports (display: grid) {
      display: grid;
      grid-auto-flow: row;
      grid-gap: 1.25rem;
      grid-template-columns: repeat(2, 1fr);
      margin: 0;
    }
  }

  @media (--medium-small) {
    @supports (display: grid) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  @media (--medium) {
    margin: 0 auto;

    @nest .wrapper & {
      margin: 0 -0.625rem;
    }

    @supports (display: grid) {
      grid-template-columns: repeat(12, 1fr);

      @nest .wrapper & {
        margin: 0;
      }
    }
  }

  &--cards {
    @media (--small) {
      @supports (display: grid) {
        grid-template-columns: repeat(auto-fit, minmax(215px, 220px));
        grid-template-rows: repeat(auto, 1fr);
        grid-gap: 1.25rem;
      }
    }
  }

  &__item {
    margin: 0.625rem 0;

    @media (--small) {
      display: inline-block;
      flex-basis: calc(50% - 1.25rem);
      margin: 0.625rem;
      width: calc(50% - 1.25rem);

      &--span-twelve,
      &--primary,
      &--secondary {
        flex-basis: 100%;
        width: 100%;
      }

      @supports (display: grid) {
        float: none;
        margin: 0;
        grid-column: auto / span 2;
        width: auto;
      }
    }

    @media (--medium-small) {
      @supports (display: grid) {
        grid-column: auto / span 3;

        &--span-twelve,
        &--primary,
        &--secondary {
          grid-column: auto / span 6;
        }
      }
    }

    @media (--medium) {
      &--span-one {
        flex-basis: calc(calc(calc(1 / 12) * 100%) - 1.25rem);
        width: calc(calc(calc(1 / 12) * 100%) - 1.25rem);
      }

      &--span-two {
        flex-basis: calc(calc(calc(2 / 12) * 100%) - 1.25rem);
        width: calc(calc(calc(2 / 12) * 100%) - 1.25rem);
      }

      &--span-three {
        flex-basis: calc(calc(calc(3 / 12) * 100%) - 1.25rem);
        width: calc(calc(calc(3 / 12) * 100%) - 1.25rem);
      }

      &--span-four {
        flex-basis: calc(calc(calc(4 / 12) * 100%) - 1.25rem);
        width: calc(calc(calc(4 / 12) * 100%) - 1.25rem);
      }

      &--span-five {
        flex-basis: calc(calc(calc(5 / 12) * 100%) - 1.25rem);
        width: calc(calc(calc(5 / 12) * 100%) - 1.25rem);
      }

      &--span-six {
        flex-basis: calc(calc(calc(6 / 12) * 100%) - 1.25rem);
        width: calc(calc(calc(6 / 12) * 100%) - 1.25rem);
      }

      &--span-seven {
        flex-basis: calc(calc(calc(7 / 12) * 100%) - 1.25rem);
        width: calc(calc(calc(7 / 12) * 100%) - 1.25rem);
      }

      &--span-eight {
        flex-basis: calc(calc(calc(8 / 12) * 100%) - 1.25rem);
        width: calc(calc(calc(8 / 12) * 100%) - 1.25rem);
      }

      &--span-nine {
        flex-basis: calc(calc(calc(9 / 12) * 100%) - 1.25rem);
        width: calc(calc(calc(9 / 12) * 100%) - 1.25rem);
      }

      &--span-ten {
        flex-basis: calc(calc(calc(10 / 12) * 100%) - 1.25rem);
        width: calc(calc(calc(10 / 12) * 100%) - 1.25rem);
      }

      &--span-eleven {
        flex-basis: calc(calc(calc(11 / 12) * 100%) - 1.25rem);
        width: calc(calc(calc(11 / 12) * 100%) - 1.25rem);
      }

      &--span-twelve {
        flex-basis: 100%;
        width: 100%;
      }

      &--primary,
      &--secondary {
        margin: 0;
      }

      &--primary {
        flex-basis: calc(calc(calc(8 / 12) * 100%) - 1.25rem);
        width: calc(calc(calc(8 / 12) * 100%) - 1.25rem);
      }

      &--secondary {
        flex-basis: calc(calc(calc(4 / 12) * 100%) - 1.25rem);
        width: calc(calc(calc(4 / 12) * 100%) - 1.25rem);
      }

      @supports (display: grid) {
        &--span-one,
        &--span-two,
        &--span-three,
        &--span-four,
        &--span-five,
        &--span-six,
        &--span-seven,
        &--span-eight,
        &--span-nine,
        &--span-ten,
        &--span-eleven,
        &--span-twelve,
        &--primary,
        &--secondary {
          width: auto;
        }

        &--span-one {
          grid-column: auto / span 1;
        }

        &--span-two {
          grid-column: auto / span 2;
        }

        &--span-three {
          grid-column: auto / span 3;
        }

        &--span-four {
          grid-column: auto / span 4;
        }

        &--span-five {
          grid-column: auto / span 5;
        }

        &--span-six {
          grid-column: auto / span 6;
        }

        &--span-seven {
          grid-column: auto / span 7;
        }

        &--span-eight {
          grid-column: auto / span 8;
        }

        &--span-nine {
          grid-column: auto / span 9;
        }

        &--span-ten {
          grid-column: auto / span 10;
        }

        &--span-eleven {
          grid-column: auto / span 11;
        }

        &--span-twelve {
          grid-column: 1 / -1;
        }

        &--primary {
          grid-column: auto / span 8;
        }

        &--secondary {
          grid-column: auto / span 4;
        }
      }
    }

    @media (--large) {
      &--primary {
        flex-basis: calc(calc(calc(7 / 12) * 100%) - 1.25rem);
        width: calc(calc(calc(7 / 12) * 100%) - 1.25rem);
      }

      &--secondary {
        flex-basis: calc(calc(calc(4 / 12) * 100%) - 1.25rem);
        width: calc(calc(calc(4 / 12) * 100%) - 1.25rem);
      }

      @supports (display: grid) {
        &--primary,
        &--secondary {
          width: auto;
        }

        &--primary {
          grid-column: auto / span 7;
        }

        &--secondary {
          grid-column: 9 / span 4;
        }
      }
    }
  }

  /* quick columns 2,3,4-up */
  &--2-up,
  &--3-up,
  &--4-up {
    & .Grid__item {
      margin: 0.75em 0;

      @media (--small) {
        margin: 0.625rem;

        @supports (display: grid) {
          margin: 0;
        }
      }
    }
  }

  @media (--medium-small) {
    &--2-up {
      @supports (display: grid) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  @media (--medium) {
    &--2-up {
      @supports (display: grid) {
        grid-template-columns: repeat(2, 1fr);
      }

      & .Grid__item {
        flex-basis: calc(calc(calc(6 / 12) * 100%) - 1.25rem);
        width: calc(calc(calc(6 / 12) * 100%) - 1.25rem);
      }
    }

    &--3-up {
      @supports (display: grid) {
        grid-template-columns: repeat(3, 1fr);
      }

      & .Grid__item {
        flex-basis: calc(calc(calc(4 / 12) * 100%) - 1.25rem);
        width: calc(calc(calc(4 / 12) * 100%) - 1.25rem);
      }
    }

    &--4-up {
      @supports (display: grid) {
        grid-template-columns: repeat(4, 1fr);
      }

      & .Grid__item {
        flex-basis: calc(calc(calc(3 / 12) * 100%) - 1.25rem);
        width: calc(calc(calc(3 / 12) * 100%) - 1.25rem);
      }
    }

    &--2-up,
    &--3-up,
    &--4-up {
      & .Grid__item {
        @supports (display: grid) {
          grid-column: inherit;
          width: auto;
        }
      }
    }
  }

  /* styleguide override */
  &.Sg--pattern {
    & .Grid__item {
      background-color: var(--color-black);
      color: var(--color-white);
      padding: 1.25rem 0;
      text-align: center;
    }
  }
}
