/*
  The color palette for the project.
  http://cssnext.io/features/#color-function

  background-color: var(--color-black);
  color: var(--color-white);
*/

:root {
  /* grayscale */
  --color-shade--00: gray;
  --color-shade--03: #f7f7f7;
  --color-shade--05: #f2f2f2;
  --color-shade--10: #e8e8e8;
  --color-shade--25: #bfbfbf;
  --color-shade--50: #8c8c8c;
  --color-shade--75: #4b4b4b;
  --color-shade--90: #2b2b2b;
  --color-shade--100: black;

  /* grayscale alias */
  --color-white: var(--color-shade--00);
  --color-gray: var(--color-shade--50);
  --color-black: var(--color-shade--100);

  /* general colors */
  --color-red: #fa0000;
  --color-blue: #0000fa;
  --color-green: green;

  /* theme colors */

  /* generic theme */
  --generic-color-blue: #003346;
  --generic-color-green: #358450;
  --generic-color-red: #a40000;
}
