/*
  The color palette for the project.
  http://cssnext.io/features/#color-function

  background-color: var(--color-black);
  color: var(--color-white);
*/

:root {
  /* generic theme */
  --color-generic--blue: #003346;
  --color-generic--green: #358450;
  --color-generic--red: #a40000;
  --color-text--primary: var(--color-black);
  --color-text--secondary: var(--color-white);

  /* general colors */
  --color-red: #fa0000;
  --color-blue: #0000fa;

  /* grayscale */
  --color-white: #fff;
  --color-black: #000;
}
