/*
  Define font variables.
*/

:root {
  /* Individual font names */
  --font-name--default: 'Helvetica Neue';

  /* font stacks */
  --font-stack--default: var(--font-name--default), 'Helvetica', sans-serif;

  /* property-set defining the light font-face */
  --font-weight--thin: 300;
  --font-weight--normal: 500;
  --font-weight--bold: 700;

  /* property-set needed to achieve responsive typography */
  --font-size--min: 1;
  --font-size--min-unit: 1rem;
  --font-size--max: 1.25;
  --font-size--max-unit: 1.25rem;
  --min-width: 640;
  --min-width-unit: 640px;
  --max-width: 1024;
  --max-width-unit: 1024px;
}
