/*
The z-indexes for the project.
z-index: var(--index-nav);
*/
:root {
  --zindex--hidden: -1;
  --zindex--base: 0;
  --zindex--content: 100;
  --zindex--nav: 200;
  --zindex--tooltip: 300;
  --zindex--modal: 400;
}
