.SgExample {
  margin: 0 0 2em;

  &__anchor {
    display: block;
    height: 0;
    visibility: hidden;
  }

  &__header {
    & .SgHeading {
      background-color: var(--sg-color-gray-darker);
      color: var(--sg-color-white);
      font-size: 1em;
      font-weight: 500;
      line-height: 40px;
      padding: 0 0.8em;

      @media (width >= 640px) {
        padding: 0.2em 0.9em;
        font-size: 1.1em;
      }

      @media (width >= 960px) {
        padding: 0.3em 1.6em;
        font-size: 1.2em;
      }
    }
  }

  &__tabs {
    background-color: var(--sg-color-background);
    border-bottom: none;
    display: flex;
    font-size: 0.8em;

    @media (width >= 640px) {
      font-size: 1em;
    }
  }

  &__tabs-item {
    border-bottom: none;
    text-align: center;

    & a {
      background-color: var(--sg-color-gray-light);
      color: var(--sg-color-gray-darker);
      display: block;
      padding: 1em;
      text-decoration: none;

      @media (width >= 960px) {
        padding: 1em 2em;
      }

      &:hover {
        background-color: var(--sg-color-gray-lighter);
        border-color: var(--sg-color-gray-lighter);
      }
    }

    &.is-active a {
      background-color: var(--sg-color-white);
      color: var(--sg-color-gray-dark);
    }
  }

  &__section {
    display: none;
    background-color: var(--sg-color-white);
    overflow: auto;
    padding: 1em;

    @media (width >= 960px) {
      padding: 2em;
    }

    &.is-active {
      display: block;
    }

    &--full-width {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    &--no-padding {
      padding: 0 !important;
    }

    &--dark-background {
      background-color: var(--sg-color-background-dark);
    }
  }
}
