:root {
  --icon-base-size: 1em;
}

.Icon {
  display: inline-block;

  /* sizes */
  &--normal {
    width: calc(var(--icon-base-size) * 1);
    height: calc(var(--icon-base-size) * 1);
  }

  &--small {
    width: calc(var(--icon-base-size) * 0.5);
    height: calc(var(--icon-base-size) * 0.5);
  }

  &--large {
    width: calc(var(--icon-base-size) * 2);
    height: calc(var(--icon-base-size) * 2);
  }

  &--wide {
    width: calc(var(--icon-base-size) * 3);
    height: calc(var(--icon-base-size) * 1.5);
  }

  /* colors */
  &--dark {
    fill: get-color(black);
  }

  &--light {
    fill: get-color(white);
  }
}
