/*
The color palette for the project.
http://cssnext.io/features/#color-function

background-color: var(--primary);
color: var(--greyDark);
*/
:root {
  --sg-color-black: #000;
  --sg-color-gray-darker: #333;
  --sg-color-gray-dark: #666;
  --sg-color-gray: #999;
  --sg-color-gray-light: #bbb;
  --sg-color-gray-lighter: #ddd;
  --sg-color-white: #fff;
  --sg-color-link: #369;
  --sg-color-background: #eaeaea;
  --sg-color-background-dark: #333;
}
