.Heading {
  font-family: var(--font-stack--default);
  font-weight: var(--font-weight--bold);
  font-size: 2em;
  line-height: 1em;
}

/* weights */
.Heading--bold {
  font-weight: 700;
}

.Heading--thin {
  font-weight: 300;
}

.Heading--medium {
  font-weight: 500;
}

/* levels */
.Heading--h1 { font-size: 2em; }
.Heading--h2 { font-size: 1.6em; }
.Heading--h3 { font-size: 1.4em; }
.Heading--h4 { font-size: 1.3em; }
.Heading--h5 { font-size: 1.2em; }
.Heading--h6 { font-size: 1.1em; }
