@import "reset-css/reset.css";

* {
	box-sizing: border-box;
}

html {
    font: var(--type-font-percentage) / var(--type-line-height) var(--type-font-family);
}

pre,
code {
	font-family: "PT Mono", mono;
	font-size: 0.9em;
	line-height: 1.4em;
}

button {
	background-color: transparent;
	font-size: 1em;

/* forms */
input,
select,
textarea,
label {
	font: 1em/1.3 "Helvetica Neue", sans-serif;
}