@import "reset-css/reset.css";

* {
	box-sizing: border-box;
}

html {
    font: var(--type-font-percentage) / var(--type-line-height) var(--type-font-family);
}

pre,
code {
	font-family: monospace;
	line-height: 1.4em;
}

button {
	background-color: transparent;
	font-size: 1em;
}