@import "reset-css/reset.css";

* {
	box-sizing: border-box;
}

html {
    font: var(--base-font-percentage) / var(--base-line-height) var(--base-font-family);
}

pre,
code {
	font-family: "PT Mono", mono;
	font-size: 0.9em;
	line-height: 1.4em;
}

button {
	background-color: transparent;
	font-size: 1em;
}