/* variants */
.rhythm {
  &,
  &--default { & > * + * { margin-top: 1em; } }
  &--small { & > * + * { margin-top: 0.5em; } }
  &--large { & > * + * { margin-top: 2em; } }

  &--deep {
    &,
    &-default { & * + * { margin-top: 1em; } }
    &-small { & * + * { margin-top: 0.5em; } }
    &-large { & * + * { margin-top: 2em; } }
  }
}

