.Alert {
  background-color: color(var(--color-white) blackness(15%));
  padding: 1rem 1rem 0.85rem 1.5rem;
  position: relative;

  &__body {
    .Alert--page-level &,
    .Alert--form-level & {
      background-position: left 0.25rem;
      background-repeat: no-repeat;
      background-size: 1.5rem;
      padding-left: 2.5rem;
      vertical-align: top;
    }
  }

  &--page-level {
    .Alert__body {
      margin: 0 auto;
      max-width: 60rem;
    }
  }

  &--form-level {
    &::before {
      background-color: var(--color-gray);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 0.5rem;
    }

    .Alert__body { display: table-cell; }
  }

  &--field-level {
    &.Alert--success,
    &.Alert--error,
    &.Alert--information {
      background-color: transparent;
      padding: 0;

      .Alert__body {
        background-image: none;
      }
    }

    &.Alert--success { color: var(--color-green); }
    &.Alert--error { color: var(--color-red); }
    &.Alert--information { font-style: italic; }
  }

  &--success {
    background-color: color(var(--color-green) blend(var(--color-white) 90%));

    &::before {
      background-color: var(--color-green);
    }

    .Alert__body { background-image: url(./images/checkmark.svg); }
  }

  &--warning {
    background-color: color(var(--color-yellow) blend(var(--color-white) 75%));

    &::before {
      background-color: var(--color-yellow);
    }

    .Alert__body { background-image: url(./images/warning.svg); }
  }

  &--error {
    background-color: color(var(--color-red) blend(var(--color-white) 92%));

    &::before {
      background-color: var(--color-red);
    }

    .Alert__body { background-image: url(./images/error.svg); }
  }

  &--information {
    background-color: color(var(--color-blue) blend(var(--color-white) 90%));

    &::before {
      background-color: var(--color-blue);
    }

    .Alert__body { background-image: url(./images/info.svg); }
  }
}
