.SgHeading {
  font-family: sans-serif;
  font-size: 2em;
  line-height: 1em;
}

.SgHeading--default {
  font-weight: 700;
}

.SgHeading--thin {
  font-weight: 300;
}

.SgHeading--medium {
  font-weight: 500;
}

.SgHeading--h1 { font-size: 2em; }
.SgHeading--h2 { font-size: 1.6em; }
.SgHeading--h3 { font-size: 1.4em; }
.SgHeading--h4 { font-size: 1.3em; }
.SgHeading--h5 { font-size: 1.2em; }
.SgHeading--h6 { font-size: 1.1em; }
