.SgHeading {
  font-family: sans-serif;
  font-size: 2em;
  line-height: 1em;

  &--default {
    font-weight: 700;
  }

  &--thin {
    font-weight: 300;
  }

  &--medium {
    font-weight: 500;
  }

  &--h1 { font-size: 2em; }
  &--h2 { font-size: 1.6em; }
  &--h3 { font-size: 1.4em; }
  &--h4 { font-size: 1.3em; }
  &--h5 { font-size: 1.2em; }
  &--h6 { font-size: 1.1em; }
}
