.Button {
  padding: 1em 2em;
  cursor: pointer;
}

.Button--link {
  text-decoration: none;
}

/* variants */
.Button--default {
  background-color: color(var(--color-black) alpha(10%));
  border: 2px solid var(--color-black);
  color: var(--color-black);

  &:--enter {
    background-color: var(--color-black);
    color: var(--color-white);
  }
}

.Button--cta {
  background-color: color(var(--color-red) alpha(10%));
  border: 2px solid red;
  color: red;

  &:--enter {
    background-color: var(--color-red);
    color: var(--color-white);
  }
}

/* sizes */
.Button--auto {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}

.Button--full {
  display: block;
  width: 100%;
}
