.Button {
  display: inline-block;
  vertical-align: middle;
  padding: 1em 2em;
  border: 2px solid var(--color-dark);
  background-color: color(var(--color-dark) alpha(10%));
  color: var(--color-dark);
  cursor: pointer;

  &:--enter {
    background-color: var(--color-dark);
    color: var(--color-light);
  }
}

.Button--cta {
  border: 2px solid red;
  background-color: color(var(--color-red) alpha(10%));
  color: red;

  &:--enter {
    background-color: var(--color-red);
    color: var(--color-light);
  }
}

.Button--link {
  text-decoration: none;
}

.Button--full {
  display: block;
  width: 100%;
}
