.Link {
  text-decoration: underline;

  /* variants */
  &--default {
    color: get-color(blue);

    &:--enter {
      color: color(get-color(blue) tint(10));
    }
  }

  &--cta {
    color: get-color(red);

    &:--enter {
      color: color(get-color(red) tint(10));
    }
  }
}
