/* variants */
.Rhythm {
  &,
  &--default { & > * + * { margin-top: get-spacing(medium); } }
  &--small { & > * + * { margin-top: get-spacing(medium-small); } }
  &--large { & > * + * { margin-top: get-spacing(medium-large); } }

  &--deep {
    &,
    &-default { & * + * { margin-top: get-spacing(medium); } }
    &-small { & * + * { margin-top: get-spacing(medium-small); } }
    &-large { & * + * { margin-top: get-spacing(medium-large); } }
  }
}

