@import "../../variables/index.css";

.poster {
	display: inline-block;
	vertical-align: middle;
	
	padding: 1em;

	background-color: #eee.5;
	border-radius: 4px;
	box-shadow: #000.2 0 0 1em;
	
	& > * + * {
		margin-top: 1em;	
	}
}

.poster__heading {
	color: #000;
}

.poster__img {
	border-radius: 2px;
}

.poster--default {

}

.poster--small {
	& .poster__img { height: 320px; }
}

.poster--link {
	text-decoration: none;
	color: #000;

	transition: 0.3s ease;
	transition-property: background-color, box-shadow;
	
	&:--enter {
		background-color: #fff;
		text-decoration: none;	
		box-shadow: #000.5 0 10px 2em;	
	}
}