.SgTableOfContents {
  & * + .SgHeading {
    margin-top: 1em;
  }

  & .SgHeading {
    margin-bottom: 0.25em;
  }

  & a {
    color: black;
  }

  & > * + * { margin-top: 2em; }

  @media (width >= 768px) {
    display: flex;
    justify-content: space-between;

    & > * {
      break-inside: avoid;
      flex-basis: 320px;
      margin-top: 0;
    }

    .SgPageShell__navigation & {
      display: block;

      & > * + * {
        margin-top: 2em;
      }
    }
  }
}
