@font-face {
	font-family: 'Museo Sans';
	font-weight: 300;
	src: url('./fonts/museosans/museosans-300.woff') format('woff');
}

@font-face {
	font-family: 'Museo Sans';
	font-weight: 500;
	src: url('./fonts/museosans/museosans-500.woff') format('woff');
}

@font-face {
	font-family: 'Museo Sans';
	font-weight: 700;
	src: url('./fonts/museosans/museosans-700.woff') format('woff');
}

/* testing classes */
.font-face-set--museo-sans-300 {
	font-family: 'Museo Sans';
	font-weight: 300;
}

.font-face-set--museo-sans-500 {
	font-family: 'Museo Sans';
	font-weight: 500;
}

.font-face-set--museo-sans-700 {
	font-family: 'Museo Sans';
	font-weight: 700;
}
