.sg-example {
}

.sg-expample__anchor {
	display: block;
	position: relative;
	top: -5.5em;
	visibility: hidden;

	@media (width >= 960px) {
		top: -7em;
	}
}

.sg-example__header {

	& .heading {
		background-color: var(--grayDarker);
		color: var(--white);
		font-size: 1em;
		font-weight: 500;
		line-height: 40px;
		padding: 0 1em;
	}
}

.sg-example__tabs {
	border-bottom: none;
	display: flex;
	font-size: 0.8em;

	@media (width >= 640px) {
		font-size: 1em;
	}
}

.sg-example__tabs-item {
	border-bottom: none;
	text-align: center;

	& a {
		background-color: var(--grayLight);
		color: var(--grayDarker);
		display: block;
		padding: 1em;
		text-decoration: none;

		&:hover {
			background-color: var(--grayLighter);
			border-color: var(--grayLighter);
		}
	}

	&.is-active a {
		background-color: var(--white);
		color: var(--grayDark);
	}
}

.sg-example__section {
	display: none;
	background-color: var(--white);
	overflow: auto;
	padding: 1em;
	position: relative;
	z-index: 1;

	@media (width >= 960px) {
		padding: 2em;
	}

	&.is-active {
		display: block;
	}

	&.no-padding {
		padding: 0;
	}
}
