/* 
The color palette for the project.
http://cssnext.io/features/#color-function 

background-color: var(--primary);
color: var(--greyDark);
*/
:root {
	--color-primary: #e55030;
	--color-secondary: #d1d2d4;

	--color-error: red;
}