/*
  The color palette for the project.
  http://cssnext.io/features/#color-function

  background-color: var(--primary);
  color: var(--greyDark);
*/
:root {
  --color-dark: #222;
  --color-light: #fff;
  --color-red: #f00;
}
