:root {
	/* The amount of time for transitions to take. */
	--transition-duration: 0.3s;

	/* The easing function to use with transitions. */
	--transition-easing: linear;

	/* The amount of time to delay transitions. */
	--transition-delay: 0s;
}