:root {
	/*The base font-size for the root html element.  The value represents its pixel equivalent, e.g. 16 = 16px.*/
    --typography-font-size: 16;

    /*The percentage of the font-size to be used on the root html element.*/
    --typography-font-percentage: calc(calc(var(--typography-font-size) / 16) / 100%);
    
    /*The base line height for the root html element.*/
    --typography-line-height: 1.5;

    /*The base font-family for the root html element.*/
    --typography-font-family: sans-serif;
}