:root {
	/*The base font-size for the root html element.  The value represents its pixel equivalent, e.g. 16 = 16px.*/
    --baseFontSize: 16;

    /*The percentage of the font-size to be used on the root html element.*/
    --baseFontPercentage: calc(calc(var(--baseFontSize) / 16) / 100%);
    
    /*The base line height for the root html element.*/
    --lineHeight: 1.5;

    /*The base font-family for the root html element.*/
    --baseFontFamily: 'Source Sans Pro', Helvetica, Arial, sans-serif;

    /*The font-size for unordered list bullets.*/
    --listBulletSize: 24;
}