/* 
The z-indexes for the project. 
z-index: var(--navIndex);
*/
:root {
	--index--hidden: -100;
	--index--base: 1;
	--index--content: 10;
	--index--nav: 50;
	--index--tooltip: 1000;
	--index--modal: 8000;	
}