.Heading {
  @apply --font--bold;

  font-size: 2em;
  line-height: 1em;
}

.Heading--bold {
  font-weight: 700;
}

.Heading--thin {
  font-weight: 300;
}

.Heading--medium {
  font-weight: 500;
}

.Heading--h1 { font-size: 2em; }
.Heading--h2 { font-size: 1.6em; }
.Heading--h3 { font-size: 1.4em; }
.Heading--h4 { font-size: 1.3em; }
.Heading--h5 { font-size: 1.2em; }
.Heading--h6 { font-size: 1.1em; }
