.Alert {
  background-color: color(var(--color-gray) alpha(-85%));
  padding: 1rem 2rem;
  position: relative;

  &--page-level {
    .Alert__body {
      margin: 0 auto;
      max-width: 60rem;
    }
  }

  &--form-level {
    &::before {
      background-color: var(--color-gray);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 0.5rem;
    }
  }

  &--field-level {
    &.Alert--success,
    &.Alert--error,
    &.Alert--information {
      background-color: transparent;
      padding: 0;
    }

    &.Alert--success { color: var(--color-green); }
    &.Alert--error { color: var(--color-red); }
    &.Alert--information { font-style: italic; }
  }

  &--success {
    background-color: color(var(--color-green) alpha(-85%));

    &::before {
      background-color: var(--color-green);
    }
  }

  &--warning {
    background-color: color(var(--color-yellow) alpha(-85%));

    &::before {
      background-color: var(--color-yellow);
    }
  }

  &--error {
    background-color: color(var(--color-red) alpha(-85%));/* #fff6f6 */

    &::before {
      background-color: var(--color-red);
    }
  }

  &--information {
    background-color: color(var(--color-blue) alpha(-85%));

    &::before {
      background-color: var(--color-blue);
    }
  }
}
