.Alert {
  background-color: color(var(--color-white) blackness(15%));
  padding: 1rem 2rem;
  position: relative;

  &__body {
    display: table-cell;
    padding-left: 3rem;
    vertical-align: top;
  }

  &--page-level {
    .Alert__body {
      margin: 0 auto;
      max-width: 60rem;
    }
  }

  &--form-level {
    &::before {
      background-color: var(--color-gray);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 0.5rem;
    }
  }

  &--field-level {
    &.Alert--success,
    &.Alert--error,
    &.Alert--information {
      background-color: transparent;
      padding: 0;
    }

    &.Alert--success { color: var(--color-green); }
    &.Alert--error { color: var(--color-red); }
    &.Alert--information { font-style: italic; }
  }

  &--success {
    background-color: color(var(--color-green) blend(var(--color-white) 75%));
    background-image: url(./images/checkmark.svg);

    &::before {
      background-color: var(--color-green);
    }
  }

  &--warning {
    background-color: color(var(--color-yellow) blend(var(--color-white) 75%));
    background-image: url(./images/warning.svg);

    &::before {
      background-color: var(--color-yellow);
    }
  }

  &--error {
    background-color: color(var(--color-red) blend(var(--color-white) 90%));
    background-image: url(./images/error.svg);

    &::before {
      background-color: var(--color-red);
    }
  }

  &--information {
    background-color: color(var(--color-blue) blend(var(--color-white) 90%));
    background-image: url(./images/info.svg);

    &::before {
      background-color: var(--color-blue);
    }
  }
}
