@import '../Rhythm/Rhythm.css';
@import '../Heading/Heading.css';
@import '../Button/Button.css';
@import '../List/List.css';

.rich-text {
  @extend .Rhythm--deep;

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    @extend .Heading;
  }

  & h1 { @extend .Heading--h1; }
  & h2 { @extend .Heading--h2; }
  & h3 { @extend .Heading--h3; }
  & h4 { @extend .Heading--h4; }
  & h5 { @extend .Heading--h5; }
  & h6 { @extend .Heading--h6; }

  & button {
    @extend .Button;
  }

  & ul,
  & ol {
    @extend .Rhythm--small;
  }

  & ul {
    @extend .List--unordered;
  }

  & ol {
    @extend .List--ordered;
  }
}
