.SgHeader {
  border: solid 1px var(--color-gray-light);
  height: 5em;
  position: relative;
  width: 100%;

  &__title {
    margin-left: 2em;
    line-height: 2.5em !important;
  }

  &__menuIcon {
    cursor: pointer;
    left: 1em;
    position: absolute;
    top: calc(50% - 1em);
  }
}
