.brand {
  & > * {
    display: inline-block;
    vertical-align: middle;
  }

  &__icon {
    width: 1.65em;
  }

  /* variants */
  &--default {
    & .brand__label { display: none; }

    @media (--small) {
      & .brand__label {
        display: inline-block;
        margin-top: 0.1em;
        margin-left: 0.25em;
      }
    }
  }
}
