@import "./Root.font-face.css";
@import "~reset-css/reset.css";

* {
  box-sizing: border-box;
}

body {
  font-family: var(--type-font-family);
  font-size: var(--type-font-size);
  line-height: var(--type-line-height);
}

pre,
code {
  font-family: monospace;
  line-height: 1.4em;
}

button {
  background-color: transparent;
  font-size: 1em;
}
