@import "./Root.font-face.css";
@import "~reset-css/reset.css";

* {
  box-sizing: border-box;
}

:root,
html {
  font-size: var(--type-font-size);
  line-height: 1.4;

  @media (--responsive-type) {
    font-size: calc(var(--font-size--min-unit) + (var(--font-size--max) - var(--font-size--min)) * (100vw - var(--min-width-unit)) / (var(--max-width) - var(--min-width)));
  }

  @media (--large) { font-size: var(--font-size--max-unit); }
}

body {
  font-family: var(--type-font-family);
  line-height: var(--type-line-height);

  @media (--responsive-type) {
    line-height: calc(var(--type-line-height--min-unit) + (var(--type-line-height--max) - var(--type-line-height--min)) * (100vw - var(--min-width-unit)) / (var(--max-width) - var(--min-width)));
  }
}

pre,
code {
  font-family: monospace;
  line-height: 1.4em;
}

button {
  background-color: transparent;
  font-size: 1em;
}
