.media {
  display: flex;
}

.media__body {
  flex: 1;

  & ~ .media__figure {
    margin-right: inherit;
    margin-left: 1em;
  }
}

.media__figure {
  margin-right: 1em;
}

.media--middle { align-items: center; }
.media--bottom { align-items: flex-end; }

.media__figure--middle { align-self: center; }
.media__figure--bottom { align-self: flex-end; }
