.Icon {
  display: inline-block;
}

/* sizes */
.Icon--normal {
  width: 1em;
  height: 1em;
}

.Icon--small {
  width: 0.5em;
  height: 0.5em;
}

.Icon--large {
  width: 2em;
  height: 2em;
}

.Icon--wide {
  width: 3em;
  height: 1.5em;
}

/* colors */
.Icon--dark {
  fill: var(--color-black);
}

.Icon--light {
  fill: var(--color-white);
}
