<!DOCTYPE html>
<% if (htmlWebpackPlugin.options.mode === 'dev') { %>
<html lang="en-US" dir="ltr">
<% } else { %>
<html lang="en-US" dir="ltr" class="no-js {{theme}}">
<% } %>

<head>
	<% if (htmlWebpackPlugin.options.mode === 'dev') { %>
	<title>loading...</title>
	<% } else { %>
	<title>{{title}}</title>
	<% } %>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- css files are automatically injected here -->
</head>
<body>

<% if (htmlWebpackPlugin.options.mode === 'dev') { %>
<div id="dev-entry"></div>
<% } else { %>
{{output}}
<% } %>

<script type="text/javascript" src="<%= htmlWebpackPlugin.options.baseUrl %>assets/dlls/styleguide.dll.js"></script>
<script type="text/javascript" src="<%= htmlWebpackPlugin.options.baseUrl %>assets/dlls/vendor.dll.js"></script>

<!-- js entry files are automatically injected here -->
</body>
</html>
