<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
	<% if (htmlWebpackPlugin.options.mode === 'dev') { %>
	<title>loading...</title>
	<% } else { %>
	<title>{{title}}</title>
	<% } %>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- css files are automatically injected here -->
</head>
<body>

<% if (htmlWebpackPlugin.options.mode === 'dev') { %>
<div id="dev-entry"></div>
<% } else { %>
{{output}}
<% } %>

<% if (htmlWebpackPlugin.options.mode === 'page') { %>
<script type="text/javascript" src="/assets/dlls/vendor-<%= htmlWebpackPlugin.options.dllStats.hash %>.dll.js"></script>
<% } else { %>
<script type="text/javascript" src="/assets/dlls/styleguide-<%= htmlWebpackPlugin.options.dllStats.hash %>.dll.js"></script>
<script type="text/javascript" src="/assets/dlls/vendor-<%= htmlWebpackPlugin.options.dllStats.hash %>.dll.js"></script>
<% } %>

<!-- js entry files are automatically injected here -->
</body>
</html>
