.Button {
  padding: 1em 2em;
  cursor: pointer;

  /* variants */
  &--default {
    background-color: color(get-color(black) alpha(10%));
    border: 2px solid get-color(black);
    color: get-color(black);

    &:--enter {
      background-color: get-color(black);
      color: get-color(white);
    }
  }

  &--cta {
    background-color: color(get-color(red) alpha(10%));
    border: 2px solid red;
    color: red;

    &:--enter {
      background-color: get-color(red);
      color: get-color(white);
    }
  }

  &--link {
    text-decoration: none;
  }

  /* sizes */
  &--auto {
    display: inline-block;
    vertical-align: middle;
    width: auto;
  }

  &--full {
    display: block;
    width: 100%;
  }
}
