@import "~@sg-atoms/SgHeading/SgHeading.css";

.ReactModal__Body--open {
  overflow: hidden;
}

.SgStyleguide {
  position: relative;

  &__header {
    padding: 1em;

    @media (width >= 540px) {
      padding-right: 14em;
    }

    @media (width >= 960px) {
      padding-left: 2em;
    }
  }

  &__themes {
    & span {
      display: inline-block;
      margin: 0 0.5rem;
    }
  }

  &__theme-link {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;

    &--active {
      border-bottom: 1px solid;
      font-weight: bold;
    }
  }

  &__section-header {
    background-color: var(--sg-color-background);
    padding: 1em 1em 2em;

    @media (width >= 960px) {
      padding: 2em;
    }

    & a {
      color: var(--sg-color-link);
    }

    & .sg-heading {
      margin-bottom: 0.5em;
    }
  }

  &__heading-text,
  &__expander {
    display: inline-block;
    vertical-align: middle;
  }

  &__expander {
    margin-top: 0.1em;
    margin-left: 0.25em;
    width: 0;
    height: 0;
    border-top: 5px solid black;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }

  &__section--readme {
    & .SgStyleguide__section-heading--readme {
      cursor: pointer;
    }

    &:not(.is-expanded) {
      & .SgStyleguide__section-header {
        padding-bottom: 1px;
      }

      & .SgStyleguide__readme {
        display: none;
      }

      & .SgStyleguide__expander {
        transform: rotate(-90deg);
      }
    }
  }

  &__readme {
    padding: 1em;
    background-color: gray(245);

    @media (width >= 960px) {
      padding: 2em;
    }

    & table {
      border-collapse: collapse;

      & * {
        margin: 0;
      }

      & + * {
        margin-top: 2em;
      }
    }

    & tr:nth-child(even) {
      background-color: gray(230);
    }

    & th,
    & td {
      border: 1px solid gray(200);
      padding: 0.75em 0.5em;
    }

    & th {
      font-weight: bold;
    }

    & code {
      background-color: var(--sg-color-white);
      border-radius: 0.125em 0.25em;
      color: firebrick;
      display: inline-block;
      padding: 0.25em;
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
      @extend .SgHeading;
    }

    & h1 { @extend .SgHeading--h1; }
    & h2 { @extend .SgHeading--h2; }
    & h3 { @extend .SgHeading--h3; }
    & h4 { @extend .SgHeading--h4; }
    & h5 { @extend .SgHeading--h5; }
    & h6 { @extend .SgHeading--h6; }
  }
}
