
.sg-example {
	padding: 1em;
	border-top: 1px solid #eee;

	@media (width >= 960px) {
		padding: 2em;
	}
}

.sg-expample__anchor {
  display: block;
  position: relative;
  top: -5.5em;
  visibility: hidden;

	@media (width >= 960px) {
	  top: -7em;
	}
}

.sg-example__header {
	& .heading {
		margin-bottom: 1em;
	}
}

.sg-example__tabs {
	overflow: hidden;
	border-bottom: none;
	font-size: 0.8em;

	@media (width >= 640px) {
		font-size: 1em;
	}
}

.sg-example__tabs-item {
	float: left;
	width: 25%;
	border-bottom: none;
	text-align: center;

	& a {
		display: block;
		padding: 1em 0;

		background-color: #eee;
		color: #222;
		font-weight: bold;

		text-decoration: none;
		
		&:hover {
			background-color: color(#eee blend(#ddd 50%));
		}
	}

	&.is-active a {
		background-color: #ddd;
		font-weight: bold;
	}
}

.sg-example__section {
	display: none;
	border: 1px solid #ccc;
	
	padding: 1em;
	overflow: scroll;

	@media (width >= 960px) {
		padding: 2em;
	}

	&.is-active {
		display: block;
	}
}