.sg-nav {
	& a {
		color: #000;
	}

	&.is-expanded {
		& .sg-nav__cover {
			transform: translate3d(0, 0, 0);
			opacity: 1;
			transition-delay: 0s;
			pointer-events: auto;
		}

		& .sg-nav__toggle {
			background-color: #000;

			& > span {
				display: inline;

				&:first-child {
					display: none;
				}
			}
		}

		& .sg-nav__container {
			transform: translate3d(0, 0, 0);
		}
	}
}

.sg-nav__toggle {
	display: block;
	position: fixed;
	top: 1em;
	left: 1em;
	width: 12em;

	z-index: 100;

	padding: 1em;
	background-color: #000.9;
	color: white;

	text-decoration: none;
	cursor: pointer;
	box-shadow: #000.1 0 0 0.5em;

	transition: 0.3s ease-in-out;
	transition-property: background-color, box-shadow;


	&:hover {
		background-color: #000.95;
		box-shadow: #000.25 0 0.3em 1em;
	}

	& > span {
		display: none;
		color: white;

		&:first-child {
			display: inline;
		}
	}

	@media (width >= 960px) {
		top: 2em;
		left: 2em;
		padding: 1em 2em;
	}
}

.sg-nav__container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	
	height: 100vh;
	width: 100%;
	max-width: 320px;
	overflow: scroll;

	padding: 1em;
	padding-top: 6em;
	font-size: 1em;
	line-height: 1.7em;

	background-color: #eee;

	transform: translate3d(-100%, 0, 0);
	transition: transform 0.3s;
	transition-timing-function: ease-in-out;

	& * + .heading {
		margin-top: 1em;
	}

	& .heading {
		margin-bottom: 0.25em;
	}

	@media (width >= 960px) {
		padding: 2em;
		padding-top: 7em;
	}
}

.sg-nav__cover {
	content: '\0020';
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 98;

	background-color: #000.8;
	
	transition-timing-function: ease;
	transition-property: opacity, transform;
	transition-duration: 0.45s, 0s, 0s;
	transition-delay: 0s, 0.45s, 0.45s;

	opacity: 0;
	pointer-events: none;
	transform: translate3d(0, -100%, 0);
}