@import "./components/nav.css";
@import "./components/example.css";

.is-sg-nav-expanded {
	overflow: hidden;

	& .sg-styleguide {
		transform: scale(0.9);
	}
}

.sg-styleguide {
	position: relative;
	z-index: 0;

	margin-top: 4.5em;
	overflow: hidden;
	transition: transform 0.3s;

	& a {
		color: #000;
	}
}

.sg-styleguide__header {
	& .heading {
		font-size: 3em;
	}
}

.sg-styleguide-section {
	border-top: 1px solid #eee;
}

.sg-styleguide-section__header {
	padding: 1em;

	@media (width >= 960px) {
		padding: 2em;
	}

	& > * + * {
		margin-top: 1em;
	}
}

.sg-styleguide-readme {
	padding: 1em;
	background-color: gray(245);

	@media (width >= 960px) {
		padding: 2em;
	}

	& table {
		border-collapse: collapse;

		& * {
			margin: 0;
		}

		& + * {
			margin-top: 2em;
		}
	}

	& tr:nth-child(even) {
		background-color: gray(230);
	}

	& th,
	& td {
		border: 1px solid gray(200);
		padding: .75em .5em;
	}

	& th {
		font-weight: bold;
	}

	& code {
		background-color: white;
		border-radius: .125em .25em;
		color: firebrick;
		display: inline-block;
		padding: .25em;
	}
}

.sg-page-root--bgimage-test {
	background-image: url('./assets/randy-savage.jpg');
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}
