@import "./components/nav.css";
@import "./components/example.css";

.is-sg-nav-expanded {
	overflow: hidden;

	& .sg-styleguide {
		transform: scale(0.9);
	}
}

.sg-styleguide {
	position: relative;
	z-index: 0;

	margin-top: 4.5em;
	overflow: hidden;
	transition: transform 0.3s;

	& a {
		color: #000;
	}
}

.sg-styleguide__header {
	& .heading {
		font-size: 3em;
	}
}

.sg-styleguide-section {
	border-top: 1px solid #eee;
}

.sg-styleguide-section__header {
	padding: 1em;

	@media (width >= 960px) {
		padding: 2em;
	}

	& > * + * {
		margin-top: 1em;
	}
}

.sg-styleguide-readme {
	padding: 1em;
	background-color: #eee;

	@media (width >= 960px) {
		padding: 2em;
	}
}
