.Link {
  text-decoration: underline;

  /* variants */
  &--default {
    color: color(var(--color-blue) blackness(40%));

    &:--enter {
      color: color(var(--color-blue) tint(10));
    }
  }

  &--cta {
    color: var(--color-red);

    &:--enter {
      color: color(var(--color-red) tint(10));
    }
  }

  &--dark {
    color: var(--color-text--primary);

    &:--enter {
      color: color(var(--color-text--primary) tint(10));
    }
  }

  &--light {
    color: var(--color-text--secondary);

    &:--enter {
      color: color(var(--color-text--secondary) tint(10));
    }
  }
}
