.SgColorSwatch {
  border: 1px solid var(--sg-color-gray);
  box-shadow: 1px 0.25em 1em -0.33em color(var(--sg-color-black) alpha(15%));
  display: flex;
  flex-basis: 300px;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 0.5rem 2rem 3rem;
  min-height: 300px;
}

.SgColorSwatch__panel {
  background-color: var(--sg-color-white);
  border-top: 1px solid var(--sg-color-gray);
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;

  & > * {
    padding: 0.5rem 1rem 0 0;
  }

  &__title {
    width: 60%;
  }

  &__hex {
    width: 40%;
  }

  &__rgb {
    width: 100%;
  }
}

.SgColorSwatch__wrapper {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.SgColorSwatch__accessibility {
  display: flex;
  justify-content: center;
  padding: 0 0 0.5em;
  position: relative;
  min-width: 50px;

  &__badge {
    background-color: black;
    border-radius: 10%;
    color: var(--sg-color-white);
    margin: 0.2em;
    padding: 0.1em 0.3em;
    position: relative;

    &::before {
      content: 'A';
      position: absolute;
      top: -1.5em;
    }

    &--primary {
      &::before {
        color: var(--sg-color-black);
      }
    }

    &--secondary {
      &::before {
        color: var(--sg-color-white);
      }
    }

    &--normal {
      &::before {
        font-size: 12pt;
        left: calc(50% - 5px);
      }
    }

    &--large--bold {
      &::before {
        font-size: 14pt;
        font-weight: bold;
        left: calc(50% - 5px);
        top: -1.45em;
      }
    }

    &--large {
      &::before {
        font-size: 18pt;
        left: calc(50% - 8px);
        top: -1.35em;
      }
    }
  }

  &--single::before {
    content: "'A'";
  }

  &--double::before {
    content: "'AA'";
  }

  &--triple::before {
    content: "'AAA'";
  }

  &::before {
    position: absolute;
    top: 0.25em;
    left: -4em;
    text-align: right;
    min-width: 3em;
  }

  &--no-badge {
    .SgColorSwatch__accessibility__badge {
      &::before {
        content: none;
      }
    }
  }
}
